<div class="table-container">
  <div class="table-form">
    <table>
      <div class="table-head">
        <ul>
          <li class="user-id">#</li>
          <li>Name</li>
          <li>Last Name</li>
          <li class="user-email">Email</li>
          <li>Company Name</li>
          <li>Role In Company</li>
          <li>Company Size</li>
          <li>Active</li>
          <li>Provider</li>
          <li>Reg. Date</li>
        </ul>
      </div>
      <app-table
        (userDetails)="detailUser(user)"
        (userEdit)="editUser(user)"
        (userPassword)="resetPassword(user)"
        (userBonus)="bonusSeconds(user)"
        (userSaspend)="saspendUser(user)"
        (userDelete)="deleteUser(user)"
        [id]="user.id"
        [name]="user.name"
        [lastName]="user.lastName"
        [email]="user.email"
        [companyName]="user.companyName"
        [roleInCompany]="user.roleInCompany"
        [companySize]="user.companySize"
        [active]="user.active"
        [provider]="user.provider"
        [regDate]="user.regDate"
        *ngFor="let user of users"
      ></app-table>
    </table>
  </div>
</div>
